@model SongViewModel

<style>
    body {
        background-color: black;
        color: white; 
    }
</style>

<form asp-action="Index" method="get">
    <input type="text" name="query" value="@Model.Query" placeholder="Şarkı Ara" />
    <button type="submit">Ara</button>
</form>

@if (Model.Tracks != null && Model.Tracks.Any())
{
    <ul>
        @foreach (var track in Model.Tracks)
        {
            long minutes = (track.DurationMs / 1000) / 60;
            long seconds = (track.DurationMs / 1000) % 60;
            var duration = $"{minutes} : {seconds}";
            <li>
                @track.Artists[0].Name  - <strong>@track.Name</strong> |  @track.Album.Name - Uzunluk : @duration | 
                <br />

                <a href="@track.ExternalUrls["spotify"]">Spotify'da Aç</a>
            </li>
        }
    </ul>
}
else if (Model.Query != null)
{
    <p>Sonuç bulunamadı.</p>
}
